@import "settings";
@import "foundation";
$primaryfont: 'Droid Sans', sans-serif;
body {
  margin: 0;
  font-size: 1em;
  font-weight: 100;
  padding: 0;
  background-color: #fff;
}
li {
  list-style: none;
  display: inline-block;

}
.header {
  overflow: hidden;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  opacity: 0.9;
  padding: 10px;
}
h1 {
  font-weight: 100;
}
.parallax-background {
  background: url("../images/crosandme.JPG") fixed;
  height: 640px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  margin-top: 100px;
}
.intro-text {
  color: #fff;
  text-align: right;
  margin-top: 15%;
  margin-right: 75px;
  margin-top: 30px;
  font-size: 5em;
}
.parallax-content {
  max-width: 100%;
  position: relative;
  top: 550px;
  padding: 0;
  background-color: #fff;
}
.icons {
  font-size: 2em;
  padding-right: 75px;
  color: gray;
  text-decoration: none;
  font-style: none;
  font-family: 'mfg_labs_iconsetregular';
}
.iconset {
  float: right;
  padding: 1%;
}
.build-container {
  text-align: center;
/*   padding: 55px; */
}
.build-header {
  font-size: 5em;
}
.expertise-images {
  opacity: 0.75;
  margin-top: 13%;
  width: 30%;
  height: 50%;
}
.medium-block-grid-4 {
  text-align: center;
}
em,
i {
  font-style: none;
}
.figcaption>h2 {
  font-size: 1em;
}
.expert-container {
  text-align: center;
  padding: 40px 0 0;
}
.icon-links {
  float: right;
}
.fade {
  /* background: rgba(221, 176, 82, .5);
 -moz-transition: background .5s ease-out;
  -webkit-transition: background .5s ease-out;
  transition: background .5s ease-out; */
}
.fade:hover {
  /*   background: rgba(221, 176, 82, .5); */
  /*   opacity: .3; */
}
.great {
  color: #ddb052;
}
i:hover {
  color: #ddb052;
}
footer {
  width: 100%;
  height: 350px;
  background: linear-gradient(
     RGBA(221, 176, 82, 1),
     RGBA(221, 176, 82, 1)
     ),
  url(https://download.unsplash.com/photo-1421757295538-9c80958e75b0);
  background-size: 100% 100%;
  color: #F56469;
  opacity: 1;
}
.social-links.li {
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
  color: rgba(white, 0.6);
  &.social-link {
    font-size: 1em;
    border: 1px solid white;
    margin: 0;
    float: left;
    &:hover {
      background-color: rgba(white, 0.9);
      a {
        color: #222;
      }
    }
  }
}
.social-link.a {
  color: white;
  display: block;
  text-decoration: none;
}
#instafeed.a {
  line-height: 0;
  margin: 0;
  padding: 0;
  float: left;
}
#instafeed {
  width: 240%;
  max-width: 2000px;
  margin: 0 auto;
  text-align: center;
}
.footer-links {
  z-index: 3;
  position: absolute;
  width: 100%;
  bottom: 70px;
  ul {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    margin: 120px px 0;
  }
}
.footer-background {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: -320px;
  height: 320px;
}
.footer-background:before, .footer-background:after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  background: -moz-linear-gradient(top, #222222 8%, rgba(34, 34, 34, 0.99) 9%, rgba(34, 34, 34, 0.7) 53%, rgba(34, 34, 34, 0.11) 97%, rgba(34, 34, 34, 0.11) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #222222), color-stop(9%, rgba(34, 34, 34, 0.99)), color-stop(53%, rgba(34, 34, 34, 0.7)), color-stop(97%, rgba(34, 34, 34, 0.11)), color-stop(100%, rgba(34, 34, 34, 0.11)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #222222 8%, rgba(34, 34, 34, 0.99) 9%, rgba(34, 34, 34, 0.7) 53%, rgba(34, 34, 34, 0.11) 97%, rgba(34, 34, 34, 0.11) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #222222 8%, rgba(34, 34, 34, 0.99) 9%, rgba(34, 34, 34, 0.7) 53%, rgba(34, 34, 34, 0.11) 97%, rgba(34, 34, 34, 0.11) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #222222 8%, rgba(34, 34, 34, 0.99) 9%, rgba(34, 34, 34, 0.7) 53%, rgba(34, 34, 34, 0.11) 97%, rgba(34, 34, 34, 0.11) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #222222 8%, rgba(34, 34, 34, 0.99) 9%, rgba(34, 34, 34, 0.7) 53%, rgba(34, 34, 34, 0.11) 97%, rgba(34, 34, 34, 0.11) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#1c222222',GradientType=0 );
  /* IE6-9 */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.footer-background:after {
  bottom: 0;
  transform: rotate(180deg);
}
#instafeed {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation-name: back;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes back {
  0% {
    left: 0;
  }
  50% {
    left: -90%;
  }
  100% {
    left: 20%;
  }
}

ul.social-links {
  font-size: 1.5em;
}

.footer-words {
  color: white;
  text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 500px){
h1 {

}
.iconset {
  text-align: center;
  padding: 0%;

}
.header-title {
  text-align: center;
}

.ul-header {
  text-align: center;
  margin-left: 0;
}
.build-header{
  font-size: 4em;
}
.intro-text {
  color: #fff;
  text-align: left;
  margin-top: 15%;
  margin-right: 75px;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 4em;
  line-height: 1.3;
}


.geometry {
  width: 100%;
  background-color: #DDB052;
  left: -100px;
  top: -45px;
  position: relative;
}

.lines {
  width: 50%;
  height: 3px;
  position: relative;
  top: 30px;
  left: 40px;
}
.lines2{
width: 100%;
height: 3px;
position: relative;
top: -50px;
left: 102px;
background-color: #DDB052;
}

}


body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.logo-circle {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background: #DDB052;
  line-height: 85px;
  border-radius: 100px;
  text-align: center;
  font-weight: normal;
  color: white;
}

.logo-text {
  font-size: 26px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #fff;

  //text-shadow: -1px -1px 1px #fff, 1px 1px 1px #fff;
}

.jf {
  color: white;
  font-weight: normal;
}
